<div class="user-menu">

    <!-- CHIP -->

    <button
        class="user-chip"
        id="user-chip"
    >

        <div class="user-avatar" id="user-avatar">
          <img class="user-avatar-img" style="display:none;" alt="avatar"/>
          <span id="user-avatar-initial" class="user-avatar-initial" style="display:none;"></span>
        </div>

    </button>

    <!-- DROPDOWN -->

    <div
        class="user-dropdown"
        id="user-dropdown"
    >

        <a href="/profile.html" class="dropdown-item">
            <i class="fa-regular fa-user"></i>
            <span data-i18n="user.profile">Profile</span>
        </a>

        <a href="#" class="dropdown-item" id="desktop-become-host-btn">
            <i class="fa-solid fa-user-tie"></i>
            <span data-i18n="user.become_host">Become a Host</span>
        </a>

        <a href="/admin.html" class="dropdown-item" id="admin-btn">
            <i class="fa-solid fa-gear"></i>
            <span data-i18n="user.control_events">Control Events</span>
        </a>
        <a href="/admin-host.html" class="dropdown-item" id="admin-host-btn">
            <i class="fa-solid fa-users-gear"></i>
            <span data-i18n="user.host_registrations">Host Registrations</span>
        </a>

        <button class="dropdown-item" id="favourites-btn">
            <i class="fa-regular fa-heart"></i>
            <span data-i18n="user.favourites">Favourites</span>
        </button>

        <a href="/my-tickets.html" class="dropdown-item">
            <i class="fa-solid fa-ticket"></i>
            <span>My Tickets</span>
        </a>

        <button class="dropdown-item logout-item" id="logout-btn">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span data-i18n="user.logout">Logout</span>
        </button>

    </div>

</div>
