<!-- CARD 1 -->
<div class="card">
    <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?q=80&w=1200&auto=format&fit=crop" class="card-image">
    <div class="card-content">
        <h2 class="card-title">Clean Mỹ Khê Beach</h2>

        <div class="info">
            <i class="fa-solid fa-location-dot"></i>
            <span>Mỹ Khê Beach</span>
        </div>

        <div class="info">
            <i class="fa-regular fa-calendar"></i>
            <span>15/05/2026</span>
        </div>

        <div class="info">
            <i class="fa-solid fa-users"></i>
            <span>Social Activity</span>
        </div>

        <div class="card-bottom">
            <button class="details-btn" id="details-btn">View Details</button>

            <div class="star">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

    </div>
</div>


<!-- CARD 2 -->
<div class="card">
    <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?q=80&w=1200&auto=format&fit=crop"
        class="card-image">

    <div class="card-content">

        <h2 class="card-title">VKU BWD Competition</h2>

        <div class="info">
            <i class="fa-solid fa-location-dot"></i>
            <span>VKU</span>
        </div>

        <div class="info">
            <i class="fa-regular fa-calendar"></i>
            <span>17/05/2026</span>
        </div>

        <div class="info">
            <i class="fa-solid fa-users"></i>
            <span>Academic Competition</span>
        </div>

        <div class="card-bottom">
            <button class="details-btn" id="details-btn">View Details</button>

            <div class="star">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

    </div>
</div>


<!-- CARD 3 -->
<div class="card">
    <img src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?q=80&w=1200&auto=format&fit=crop"
        class="card-image">

    <div class="card-content">

        <h2 class="card-title">English Talent Competition in Vietnam-Korea University of ICT</h2>

        <div class="info">
            <i class="fa-solid fa-location-dot"></i>
            <span>VKU</span>
        </div>

        <div class="info">
            <i class="fa-regular fa-calendar"></i>
            <span>01/09/2026</span>
        </div>

        <div class="info">
            <i class="fa-solid fa-users"></i>
            <span>Academic Competition</span>
        </div>

        <div class="card-bottom">
            <button class="details-btn" id="details-btn">View Details</button>

            <div class="star">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

    </div>
</div>


<!-- CARD 4 -->
<div class="card">
    <img src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=1200&auto=format&fit=crop"
        class="card-image">

    <div class="card-content">

        <h2 class="card-title">Conference Event</h2>

        <div class="info">
            <i class="fa-solid fa-location-dot"></i>
            <span>VKU Hall</span>
        </div>

        <div class="info">
            <i class="fa-regular fa-calendar"></i>
            <span>10/10/2026</span>
        </div>

        <div class="info">
            <i class="fa-solid fa-users"></i>
            <span>Social Activity</span>
        </div>

        <div class="card-bottom">
            <button class="details-btn" id="details-btn">View Details</button>

            <div class="star">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>

    </div>
</div>

<!-- CARD 5 -->
<div class="card">
    <img src="https://images.unsplash.com/photo-1511578314322-379afb476865?q=80&w=1200&auto=format&fit=crop"
        class="card-image">

    <div class="card-content">

        <h2 class="card-title">Conference Event</h2>

        <div class="info">
            <i class="fa-solid fa-location-dot"></i>
            <span>VKU Hall</span>
        </div>

        <div class="info">
            <i class="fa-regular fa-calendar"></i>
            <span>10/10/2026</span>
        </div>

        <div class="info">
            <i class="fa-solid fa-users"></i>
            <span>Social Activity</span>
        </div>

        <div class="card-bottom">
            <button class="details-btn" id="details-btn">View Details</button>

            <div class="star">
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
    </div>
</div>


