<nav class="navbar" id="navbar">
    <div class="nav-main">
        <div class="logo-panel">
            <div class="logo-inner">
                <div class="logo-text">
                    SpringWave
                </div>
            </div>
        </div>

        <div class="nav-main-top">
            <div class="nav-content">
                <div class="nav-links">
                    <a href="#hero" data-section="home">Home</a>
                    <a href="#explore" data-section="explore">Explore</a>
                    <a href="#">Host an Event</a>
                    <a href="#">About Us</a>
                </div>
            </div>
        </div>

        <div class="nav-main-bottom">
            <div class="next-pill">
                LIVE
            </div>

            Upcoming SpringWave Project
        </div>
    </div>
</nav>